/* Variables */
$primary-color: #ff5733;
$secondary-color: #8eb0fb;
$font-family: 'Arial', sans-serif;
$spacing: 1rem;

/* Mixins */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles */
body {
  font-family: $font-family;
  line-height: 1.6;
}

.navbar {
  background-color: $secondary-color;
}

.navbar-brand img {
  max-width: 100%;
}

.navbar-toggler-icon {
  background-color: #fff; /* Customize the color of the navbar toggler icon */
}

.navbar-nav .nav-item {
  margin: 0 0.5rem;
}

.container.my-5 {
  text-align: center;
}

/* Additional Styles */
.bg-light {
  background-color: #f8f9fa; /* Define the light background color */
}

/* Customize Welcome Section */
.container.my-5 h1 {
  color: $primary-color;
}


/* Customize About Us Section */
.container.my-5 h2 {
  color: $primary-color;
}



/* Customize Footer */
footer {
  background-color: $secondary-color;
  color: #fff;
}
